<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--job-->
    <bean id="promotionJop" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="cn.itcast.bos.quartz.PromotionJob"/>
    </bean>
    <!--trigger-->
    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="promotionJop"/>
        <!--0秒后第一次执行-->
        <property name="startDelay" value="0"/>
        <!--60000毫秒后重复执行-->
        <property name="repeatInterval" value="60000"/>
    </bean>

    <!--job2-->
    <bean id="wayBillJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="cn.itcast.bos.quartz.WayBillJob"/>
    </bean>
    <!--trigger-->
    <bean id="simpleTrigger2" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="wayBillJob"/>
        <!--0秒后第一次执行-->
        <property name="startDelay" value="0"/>
        <!--60000毫秒后重复执行-->
        <property name="repeatInterval" value="3000000"/>
    </bean>

    <!--scheduler-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobFactory" ref="jobFactory"/>
        <property name="triggers">
            <list>
                <ref bean="simpleTrigger"/>
                <ref bean="simpleTrigger2"/>
            </list>
        </property>
    </bean>


</beans>